[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
	branch = main

# https://themes.gohugo.io/themes/hugo-theme-nightfall/
[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall.git

[submodule "themes/ficurinia"]
	path = themes/ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia.git

# https://themes.gohugo.io/themes/poison/
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git

# unused: https://themes.gohugo.io/themes/osprey-delight/
